body{
    background-color: #373a3a;
}
.judul{
    font-size: 48px;
    font-weight: 1000;
    background: -webkit-linear-gradient(#7977B4,#9B98FF,#48D9CA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
input[type=text] {
    width: 85%;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
tr{
    background-color: aliceblue;
}

.btn-grad {background-image: linear-gradient(to right, #24C6DC 0%, #7977B4  51%, #24C6DC  100%)}
.btn-grad {
    margin: 10px;
    padding:7px 22px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display:inline-block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
