{% load static %}
<html>
    <head>
        <title>
            Book Search     
        </title>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'script.js' %}"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <script>
            const data_books_url = "{% url 'main:ambil_data' %}?q=";
        </script>
    </head>
    <body>
        <div class="container">
            <div class="judul pt-3 text-center mb-3">Book Search</div>
            <div class="row">
                <input type="text" placeholder="Search for you favorite book here" title="Type in the title" class="align-items-center" name="search_box">
                <button type="button" id="input" class="btn btn-grad" name="search_submit">Search</button>
            </div>
            <table class="table mt-5">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="align-middle">No</th>
                    <th scope="col" class="align-middle">Book Cover</th>
                    <th scope="col" class="align-middle">Title</th>
                    <th scope="col" class="align-middle">Authors</th>
                    <th scope="col" class="align-middle">Publisher</th>
                   
                  </tr>
                </thead>
                <tbody id="konten"></tbody>
            </table>
            
        </div>
    </body>
</html>
